:root {
	--color-violet: #403F85;
	--color-grey: #E2E2E2;
	--color-dark-grey: #9A9A9A;
	--color-black: #090909;
	--color-blue: #00488B;
}

@font-face {
	font-family: "Inter";
	src:;
		local("Inter"),
		url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

body {
	background: var(--color-grey);
	font-family: "Inter", sans-serif;
}

header {
	background: var(--color-violet);
	height: 115px;
}

header > .container {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container {
	width: 671px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px 40px 40px 40px;
	background: white;

}

.title-box {
	display: flex;
	align-content: flex-end;
}

.nav-box a {
	display: block;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	text-decoration: none;
	text-align: center;
	width: 119px;
	color: var(--color-blue);
	border-bottom: 1px solid var(--color-blue);
	padding-bottom: 3px;
}

h1 {
	margin: 0;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.22;
	color: black;
	align-self: end;
}

.question-list {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.21;

	padding-left: 20px;
	margin-top: 44px;
}

.question-list > li {
	margin-bottom: 40px;
}

.radio-btn-list {
	list-style: none;
	padding-left: 0;
	margin-left: -18px;
}

.radio-btn-list > li {
	display: block;
	margin-bottom: 20px;
	color: var(--color-black);
}

.btn {
	background: var(--color-violet);
	color: white;

	display: block;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	margin-left: auto;
	border: 1px solid black;
}

.result-box {
	font-size: 20px;
	line-height: 1.21;
	font-weight: 300;
	
}

.result-table {
	padding: 10px 28px;

}

.result-table p span {
	font-weight: 700;
}

.statistic-table {
	width: 100%;
	font-size: 20;
	line-height: 1.21;
	font-weight: 400;
	color: black;
	text-align: center;
}

.statistic-table td {
	background: var(--color-grey);
	border-right: 12px solid white;
	border-bottom: 20px solid white;
	font-weight: 400;
	height: 80px;
	min-width: 150px;
	padding: 0;

}

.statistic-table td:last-child {
	border-right: none;
}